{% extends "../base.html" %} {% block main %}
<div>
    <h1>Create a new item</h1>
    <form method="post">
        {% csrf_token %} {{ item_form.as_table }}
        <button>Create</button>
    </form>
</div>
{% endblock main %}
