{% extends "../base.html" %} {% block main %}
<div>
    <h1>Create New List</h1>
    <form method="post">
        {% csrf_token %} {{ todo_form.as_table }}
        <button>Create</button>
    </form>
</div>
{% endblock main %}
