{% extends "../base.html" %} {% block main %}
<div>
    <h1>{{todo.name}}</h1>
    <p><a href="{% url "todo_list_update" todo.id %}">Edit</a></p>
    <p><a href="{% url "todo_list_delete" todo.id %}">Delete</a></p>
    <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for task in todo.items.all %}
            <tr>
                <td><a href="{% url "todo_item_update" task.id %}">{{ task.task }}</a></td>
                <td>{{ task.due_date|date:'N d, Y' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}
