{% extends "../base.html" %} {% block main %}
<div>
    <h1>My Lists</h1>
    <p><a href="{% url "todo_list_create" %}">Create New List</a></p>
    <p><a href="{% url "todo_item_create" %}">Create New Item</a></p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            {% for todolist in todos %}
            <tr>
                <td>
                    <a href="{% url "todo_list_detail" todolist.id %}">
                        {{ todolist.name }}
                    </a>
                </td>
                <td>{{ todolist.items.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}
