{% extends "../base.html" %} {% block main %}
<div>
    <h1>Update List</h1>
    <form method="post">
        {% csrf_token %} 
        {{ todo_form.as_table }} 
        {{ item_form_list.management_form }}
        {% for item_form in item_form_list %}
        <div>   
            {{ item_form.as_table }}
        </div>
        {% endfor %}
        <button>Update</button>
    </form>
</div>
{% endblock main %}
